@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
::-webkit-scrollbar{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --color-principal: #111111;
    --color-uno: #000;
    --color-dos: #E1303B;
    --color-tres: #46A7DF;
    --color-cuatro: #202947;
    --color-cinco: #dbdbdb;
    --color-seis: #E5E811;
    --color-siete: #fff;
    --font-family-text: 'GFS Neohellenic', sans-serif;
    --font-family-title: 'Chelsea Market', cursive;
}

/* ============= INDEX ============ */

/* MENU */
.menu{
    width: 100%;
    height: 9vh;
    background: var(--color-uno);
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu__container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    width: 100px;
    cursor: pointer;
}
.menu__options{
    display: flex;
    gap: 5rem;
    font-size: 1.2rem;
    list-style-type: none;
}
.menu__options li a{
    font-family: var(--font-family-title);
    color: var(--color-siete);
}

/* =========== INDEX ========== */

/* main - sectionUnoIndex */
body{
    background: var(--color-principal);
    color: var(--color-siete);
}
.sectionUnoIndex{
    background: url('../recursos/iconos/fondoPool.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: relative;
}
.sectionUnoIndex__logoPregunta{
    text-align: center;
    position: relative;
    top: 12vh;
    backdrop-filter: blur(2px);
    padding: 20px;
}
.sectionUnoIndex__logoPregunta h2{
    font-size: 3rem;
    color: var(--color-siete);
    font-family: var(--font-family-title);
}
.sectionUnoIndex__aviso{
    color: var(--color-uno);
    font-weight: 600;
    background: var(--color-siete);
    border-radius: 15px;
    padding: 10px 5px;
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 10%;
    display: inline;
    text-align: center;
    font-size: 1.5rem;
}

/* main - sectionDosIndex */

.sectionDosIndex{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 50px 0px;
    gap: 50px;
}
.sectionDosIndex__informacion, .sectionDosIndex__informacionHorarios{
    background: var(--color-cinco);
    width: 90%;
    height: max-content;
    display: flex;
    border-radius: 55px;
}
.sectionDosIndex__informacion img{
    width: 50%;
    height: initial;
    background: var(--color-uno);
    border-radius: 50px 0px 0px 50px;
}
.sectionDosIndex__informacionText{
    width: 50%;
    padding: 40px;
    font-size: 1.3rem;
    line-height: 30px;
}

.sectionDosIndex__titleHorarios{
    padding: 20px;
    font-size: 1.3rem;
    width: 60%;
    line-height: 30px;
}
.sectionDosIndex__horarios{
    padding: 50px 0px 30px;
    width: 40%;
    background: var(--color-uno);
    color: var(--color-cinco);
    border-radius: 0 50px 50px 0;
}
.sectionDosIndex__containerHorarios{
    display: flex;
    justify-content: space-around;
}
.sectionDosIndex__containerHorarios ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}
.sectionDosIndex__containerHorarios-separacion{
    align-items: flex-end;
}
.sectionDosIndex__horarios button{
    background: var(--color-siete);
    color: var(--color-uno);
    border-radius: 25px;
    padding: 10px 60px;
    font-size: 1.2rem;
    cursor: pointer;
    transform: translateX(9rem);
}
/* main - sectionTresIndex */
/* .sectionTresIndex  h2{
    font-size: 4rem;
    text-align: center;
    color: var(--color-siete);
}
.sectionTresIndex__containerGaleria{
    text-align: center;
    padding: 0px 100px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.sectionTresIndex__containerGaleria img{
    width: 100%;
    height: 200px;
    transition: .5s all;
}
.sectionTresIndex__containerGaleria img:hover{
    transform: scale(2) rotate(8deg);
    z-index: 2;
    cursor: pointer;
    border: 6px solid var(--color-cinco);
} */

/* =========== fin INDEX ===========*/
/* =========== SERVICIOS =========== */



/* =========== fin SERVICIOS ========= */


/* ===== Footer =====*/

footer{
    font-family: var(--font-family-title);
    background: var(--color-uno);
    padding: 50px 0px;
}
.footer__container{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}
.footer__options li a, i{
    font-size: 1.2rem;
    color: var(--color-siete);
}
.footer__options li a:hover{
    color: var(--color-dos);
}
.footer__logo{
    width: 250px;
}
.footer__direction, .footer__direction a{
    text-align: center;
    padding: 10px;
    color: var(--color-siete);
}
.footer__copyright{
    text-align: center;
    font-size: 1rem;
    color: var(--color-siete);
    padding: 2rem 0px 0px;
}
.footer__copyright hr{
    width: 70%;
    margin: auto;
}
.footer__copyright a{
    color: var(--color-dos);
}