/* =========== CARTA =========== */

/* section uno - eventos */
.sectionUnoCarta{
    background: $color-siete;
    &__container{
        h1{
            font-weight: 700;
            text-align: center;
            color: $color-tres;
        }
    }
}

/* section dos - eventos */
.sectionDosCarta{
    padding: 0px 10rem;
    img{
        width: 100%;
    }
}

// Tablet
@media (max-width: 1030px) {

    .sectionDosCarta{
        padding: 0px 5rem;
    }
}

/* ===== MOBILE ===== */

@media (max-width: 576px) {    
    .sectionDosCarta{
        padding: 0;
    }
}

/* =========== fin CARTA =========== */