.menu{
    width: 100%;
    height: min-content;
    background: $color-tres;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-toggler{
    background: $color-ocho;
    border-radius: 20px!important;
}
.navbar-nav{
    gap: 20px !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.nav-link{
    color: $color-ocho !important;
    font-size: 1.3rem!important;
    font-weight: 500;
    font-family: $family-title !important;
}
.navbar-collapse .active{
    color: $color-cinco !important;
    font-weight: 700;
}
