.menu{
    width: 100%;
    height: min-content;
    background: var(--color-uno);
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-toggler{
    background: var(--color-cinco);
    border-radius: 20px!important;
}
.navbar-nav{
    gap: 20px !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.nav-link{
    color: var(--color-cinco) !important;
    font-size: 1.3rem!important;
    font-weight: 500;
    font-family: var(--font-family-title) !important;
}
.navbar-collapse .active{
    color: #E1303B!important;
    font-weight: 700;
}
