/* =========== INDEX ========== */

@mixin sectionsCompartida($hei){
    width: 96%;
    height: $hei;
    display: flex;
    border-radius: 55px;
}
@mixin infoCompartida{
    width: 100%;
    font-size: .9rem;
    line-height: unset;
    padding: 20px;
}

/* sectionUno - Index */
.sectionUnoIndex{
    background: url('../recursos/imagenes/index/fondoPool.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: relative;

    &__logoPregunta{
        text-align: center;
        position: relative;
        top: 12vh;
        backdrop-filter: blur(2px);
        padding: 20px;

        img{
            animation: rotate 5s ease-in-out;
        }

        h2{
            font-size: 3rem;
            color: $color-siete;
            font-family: $family-title;
        }
    }

    &__aviso{
        color: $color-tres;
        font-weight: 600;
        background: $color-siete;
        border-radius: 15px;
        padding: 10px 5px;
        z-index: 1;
        position: absolute;
        top: 10%;
        right: 10%;
        display: inline;
        text-align: center;
        font-size: 1.5rem;

        p{
            margin: 0px;
        }
    }
}

/* sectionDos - Index */
.sectionDosIndex{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-tres;
    padding: 50px 0px;
    gap: 50px;

    &__informacion1{
        background: $color-siete;
        @include sectionsCompartida(min-content);
        overflow: hidden;
        img{
            object-fit: cover;
            width: 50%;
            max-height: 740px;
            background: $color-uno;
            border-radius: 50px 0px 0px 50px;
        }
        &Text{
            margin: auto;
            width: 50%;
            height: min-content;
            padding: 30px;
            font-size: 1rem;
            word-break: keep-all;
            p{
                margin-bottom: .8rem;
            }
        }
    }

    &__informacion2{
        @include sectionsCompartida(max-content);
        
        &Info{
            padding: 50px;
            font-size: 1rem;
            word-break: keep-all;
            width: 60%;
            line-height: 25px;
            background: $color-siete;
        }

        &Horario{
            margin: auto;
            padding: 50px 0px;
            width: 40%;
            background: $color-tres;
            color: $color-ocho;
            border-radius: 0 50px 50px 0;

            &Container{
                display: flex;
                justify-content: space-around;

                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 1rem;
                    font-weight: 700;

                    &:not(.sectionDosIndex__informacion2HorarioContainer--separacion){
                        padding: 0;
                    }
                }
 
                &--separacion{
                    align-items: flex-end;
                }
            }

            button{
                background: $color-siete;
                color: $color-tres;
                border-radius: 25px;
                padding: 10px 60px;
                font-size: 1.2rem;
                cursor: pointer;
                transform: translateX(9rem);
            }
        }
    }
}

/* ===== TABLET ===== */

@media (max-width: 1030px) {

    .sectionDosIndex__informacion1{
        img{
            width: 40%;
        }

        &Text{
            width: 60%;
            font-size: .9rem !important;
            &--none{
                display: none;
            }
        }
    }

    .sectionDosIndex__informacion2{
        flex-direction: column;

        &Info{
            width: 100%;
        }
        &Horario{
            width: 100%;
            padding: 10px;
        }
    }
}

/* ===== MOBILE ===== */

@media (max-width: 576px) {

    .sectionUnoIndex{
        &__logoPregunta{
            img{
                width: 90%;
            }
            h2{
                font-size: 1.5rem;
            }
        }
        &__aviso{
            display: none;
        }
    }

    .sectionDosIndex{
        &__informacion1{
            flex-direction: column;

            img{
                width: 100%;
            }

            &Text{
                @include infoCompartida();
            }

        }

        &__informacion2{
            &Info{
                @include infoCompartida();
                h2{
                    font-size: 1.4rem;
                }
            }
            &Horario{
                &Container{
                    ul{
                        padding: 0;
                        font-size: .9rem
                    }
                }
                button{
                    transform: unset;
                    padding: 5px 60px;
                }
            }
        }
    }
}
/* =========== fin INDEX ===========*/
