/* =========== INDEX ========== */

@mixin sectionsCompartida{
    width: 96%;
    height: max-content;
    display: flex;
    border-radius: 55px;
}
@mixin infoCompartida{
    width: 100%;
    font-size: 1rem;
    line-height: unset;
    padding: 20px;
}

/* main - sectionUnoIndex */
.sectionUnoIndex{
    background: url('../recursos/iconos/fondoPool.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: relative;

    &__logoPregunta{
        text-align: center;
        position: relative;
        top: 12vh;
        backdrop-filter: blur(2px);
        padding: 20px;

        img{
            animation: rotate 5s ease-in-out;
        }

        h2{
            font-size: 3rem;
            color: var(--color-siete);
            font-family: var(--font-family-title);
        }
    }

    &__aviso{
        color: var(--color-uno);
        font-weight: 600;
        background: var(--color-siete);
        border-radius: 15px;
        padding: 10px 5px;
        z-index: 1;
        position: absolute;
        top: 10%;
        right: 10%;
        display: inline;
        text-align: center;
        font-size: 1.5rem;

        p{
            margin: 0px;
        }
    }
}

/* main - sectionDosIndex */
.sectionDosIndex{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 50px 0px;
    gap: 50px;

    &__informacion1{
        background: var(--color-siete);
        @include sectionsCompartida;

        img{
            width: 50%;
            height: initial;
            background: var(--color-uno);
            border-radius: 50px 0px 0px 50px;
        }
        &Text{
            width: 50%;
            padding: 40px;
            font-size: 1.3rem;
            line-height: 30px;
        }
    }

    &__informacion2{
        @include sectionsCompartida;
        
        &Info{
            padding: 50px;
            font-size: 1.3rem;
            width: 60%;
            line-height: 25px;
            background: var(--color-siete);
        }

        &Horario{
            margin: auto;
            padding: 50px 0px;
            width: 40%;
            background: var(--color-uno);
            color: var(--color-cinco);
            border-radius: 0 50px 50px 0;

            &Container{
                display: flex;
                justify-content: space-around;

                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    font-size: 1.2rem;
                    font-weight: 700;

                    &:not(.sectionDosIndex__informacion2HorarioContainer--separacion){
                        padding: 0;
                    }
                }
 
                &--separacion{
                    align-items: flex-end;
                }
            }

            button{
                background: var(--color-siete);
                color: var(--color-uno);
                border-radius: 25px;
                padding: 10px 60px;
                font-size: 1.2rem;
                cursor: pointer;
                transform: translateX(9rem);
            }
        }
    }
}

/* ===== TABLET ===== */

@media (max-width: 1030px) {

    .sectionDosIndex__informacion1{
        img{
            width: 60%;
        }

        &Text{
            width: 40%;
            font-size: 1.2rem !important;
            line-height: 25px;

            &--none{
                display: none;
            }
        }
    }

    .sectionDosIndex__informacion2{
        flex-direction: column;

        &Info{
            width: 100%;
        }
        &Horario{
            width: 100%;
            padding: 10px;
        }
    }
}

/* ===== MOBILE ===== */

@media (max-width: 576px) {

    .sectionUnoIndex{
        &__logoPregunta{
            img{
                width: 90%;
            }
            h2{
                font-size: 1.5rem;
            }
        }
        &__aviso{
            display: none;
        }
    }

    .sectionDosIndex{
        &__informacion1{
            flex-direction: column;

            img{
                width: 100%;
            }

            &Text{
                @include infoCompartida();
            }

        }

        &__informacion2{
            &Info{
                @include infoCompartida();
            }
            &Horario{
                &Container{
                    ul{
                        padding: 0;
                        font-size: .9rem
                    }
                }
                button{
                    transform: unset;
                    padding: 5px 60px;
                }
            }
        }
    }
}
/* =========== fin INDEX ===========*/
