/* =========== SERVICIOS =========== */
.sectionUnoServicios{
    &__container{
        text-align: center;
        background: #ffffff;
        border-radius: 70px;
        overflow: hidden;
        h1,p{
            color: #000;
            font-weight: 700;
        }
        p{
            font-size: 1.5rem;
        }
        img{
            width: 100%;
        }
    }
}
.sectionDosServicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    .card-img-overlay{
        background: #000C;
        cursor: pointer;
        top: unset;
        height: 50%;
    }
}

  /* ===== TABLET ===== */

@media (max-width: 1030px) {
    .sectionDosServicios{
        grid-template-columns: repeat(2, 1fr);
        .card-img-overlay{
            font-size: .9rem!important;
        }
    }
}
    /* ===== MOBILE ===== */

    @media (max-width: 576px) {
        .sectionUnoServicios{
            &__container{
                h1,p{
                    padding: 10px;
                }
                p{
                    font-size: .9rem;
                }
            }
        }
        .sectionDosServicios{
            grid-template-columns: repeat(1, 1fr);
            .card-img-overlay{
                top: 0;
                background: rgba(0, 0, 0, 0.37);
            }
        }
    }
/* =========== fin SERVICIOS =========== */