/* =========== SERVICIOS =========== */


.sectionDosServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card-img-overlay{
        background: #000C;
        cursor: pointer;
        top: unset;
    }
}

  /* ===== TABLET ===== */

@media (max-width: 1030px) {
    .sectionDosServicios{
        grid-template-columns: repeat(1, 1fr);
        .card-img-overlay{
            font-size: .9rem!important;
        }
    }
}
    /* ===== MOBILE ===== */

    @media (max-width: 576px) {
        .card-img-overlay{
            top: 0;
        }
    }
/* =========== fin SERVICIOS =========== */