$color-uno:#0f0f0f;
$color-tres:#000;
$color-cuatro:#E1303B;
$color-cinco:#46A7DF;
$color-seis:#202947;
$color-siete:#fff;
$color-ocho: #dbdbdb;
$color-nueve: #000000ad;
$family-text:'GFS Neohellenic', sans-serif;
$family-title:'Chelsea Market', cursive;
