:root{
    --color-principal: #0f0f0f;
    --color-uno: #000;
    --color-dos: #E1303B;
    --color-tres: #46A7DF;
    --color-cuatro: #202947;
    --color-cinco: #dbdbdb;
    --color-seis: #E5E811;
    --color-siete: #fff;
    --font-family-text: 'GFS Neohellenic', sans-serif;
    --font-family-title: 'Chelsea Market', cursive;
}